.flag_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.flag_title .title{
    font-size: 60px;
}
.flag_title .title{
    color: rgb(87, 5, 5);
}
.icon{
    font-size: 20px;
}